@model IEnumerable<SportLeague.Models.Division>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Seattle Bowling Legue</title>
</head>
<body>
    <h2>Bowling Divisions</h2>
    <h4>@Html.DisplayNameFor(model =>model.description)</h4>
    <ul>
        @foreach(var divisionItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => divisionItem.description)</li>

        }
    </ul>
</body>
</html>