@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="jumbotron">Hello</h1>
<a href="/divisions">Divisions</a>
<a href="/teams">Teams</a>
<a href="/players">Players</a>