@{
    ViewData["Title"] = "Make new player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SportLeague.Models.Player

<h6>Add a new division</h6>
@using (Html.BeginForm())
{
    <label>Player name</label>
    @Html.TextBoxFor(model => model.name)
    <label>Team</label>
    @Html.DropDownList("teamId")
    <input class="btn btn-success" type="submit" value="Submit" />
}
