@model IEnumerable<SportLeague.Models.Player>

@{
    ViewData["Title"] = "Division Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Bowling Divisions</h2>
    <h4>@Html.DisplayNameFor(model => model.name)</h4>
    <ul>
        @foreach (var divisionItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => divisionItem.name)</li>

        }
    </ul>
