@{
    ViewData["Title"] = "Edit division";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SportLeague.Models.Team

<h2>Edit</h2>
<hr />
<h4>Edit this team: @Html.DisplayFor(model => model.name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.teamId)

    <label>Name</label>
    @Html.EditorFor(model => model.name)

    <label>Division</label>
    @Html.DropDownList("divisionId")

    <input type="submit" value="Save" />
}
